

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-height: 1300vh;
    
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    
}

:root{
    
    /* FONTSIZE */
    --fsS:15px;
    --fsM:25px;
    --fsL:35px;
    --fsXL:55px;

    /* FONTSTYLE */
    --ff:'Roboto', sans-serif;

    /* MARGIN */
    --mrS:10px;
    --mrM:20px;
    --mrL:30px;
    --mrXL:10px;

    /* PADDING */
    --pdS:15px;
    --pdM:15px;
    --pdL:15px;
    --pdXL:15px;

    /* BACKROUND COLOR */
    



    /* BOXSHADOW */
    --txtsh: 0px -1px 1px;
    --boxsh: 0px 0px 2px white;

}


.main__first__top img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.main{
    max-height: 700vh;
    height: auto;
    background-image: radial-gradient(rgb(165, 165, 165),rgb(100, 97, 97),black);
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 70px;
}

.main__firtsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: flex-start;
   

}

.main__first__top{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: var(--boxsh);
    overflow: hidden;
     
}

.main__firtsdiv img{
    border-radius: 50%;
}

.main__first__info{

    width:100%;
}

.main__first__info__ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
}

.main__first__info__li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center ;
    font-size: 25px;
    color: white;
}

.main__first__info__icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
