*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-height: 300vh;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    
}

:root{
    
    /* FONTSIZE */
    --fsS:15px;
    --fsM:25px;
    --fsL:35px;
    --fsXL:55px;

    /* FONTSTYLE */
    --ff:'Roboto', sans-serif;

    /* MARGIN */
    --mrS:10px;
    --mrM:20px;
    --mrL:30px;
    --mrXL:10px;

    /* PADDING */
    --pdS:15px;
    --pdM:15px;
    --pdL:15px;
    --pdXL:15px;

    /* BACKROUND COLOR */
    



    /* BOXSHADOW */
    --txtsh: 0px -1px 1px;
    --boxsh: 0px 0px 2px;

}


.main{
    max-height: 400vh;
    height: 100vh;
    background-color: orange;
}


h1{
    
    color: green;
    font-size: 100px;
}

.main__firstdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
}
