
html{
    scroll-behavior: smooth;
}


.main{
    background-image: radial-gradient(black,rgb(39, 36, 36),rgb(55, 45, 45));
    max-height: 1300vh;
    height: auto;
}

.main__firstdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.main__containair img{
    font-size: var(--fsL);
    border-radius: 20px;
}
.main__containair p{
    color: white;
}

.main__shop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100px;
    cursor: pointer;
    box-shadow: var(--boxsh);
    border: solid gray;
}



.main__discription{
    font-size: var(--fsS);
}

.footer__firstdiv{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}
.footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1300vh;
    width: 100%;   
    height: 20vh;
}