


:root{
    
    /* FONTSIZE */
    --fsS:15px;
    --fsM:25px;
    --fsL:35px;
    --fsXL:55px;

    /* FONTSTYLE */
    --ff:'Roboto', sans-serif;

    /* MARGIN */
    --mrS:10px;
    --mrM:20px;
    --mrL:30px;
    --mrXL:10px;

    /* PADDING */
    --pdS:15px;
    --pdM:15px;
    --pdL:15px;
    --pdXL:15px;

    /* BACKROUND COLOR */
    



    /* BOXSHADOW */
    --txtsh: 0px -1px 1px;
    --boxsh: 0px 0px 2px white;

}




img{
    width: 450px;
}

.main{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(rgb(15, 14, 14),rgb(255, 255, 255),rgb(55, 45, 45));
    max-height: 1300vh;
    height: auto;
    font-family: var(--ff);
    width: auto;
}


.main__firstdiv__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
    box-shadow: var(--boxsh);
    overflow: hidden;
    border-radius: 31px;
    border-radius: 31px;
    background: #4e484e;
    box-shadow: inset -40px 40px 26px #333132,
            inset 40px -40px 26px #1c1b1b;
            max-width: 400px;
    width: 400px;
    min-width: 400px;
    max-height: 100vh;
    height:600px;
}

.main__firstdiv__container img {
    width: 400px;
}

.main__firstdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
    flex-wrap: wrap;
}

.main__firstdiv__h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.main__firsdiv__shop{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
    height: 90px;
}

.main__firstdiv__btn{
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.main__firstdiv__btn:hover{
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: black;
}




.main__seconddiv{
display: flex;
justify-content: center;
align-items: center;
}

.main__second__container{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: gray;
    box-shadow: var(--boxsh);
    border-radius: 30px;
    overflow: hidden;
    width: auto;
}

.main__second{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}

.main__second__h1{
    color: whitesmoke;
    font-size: 50px;
}

.main__second__shop{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
    height: 90px;
}

.main__second__btn{
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.main__second__btn:hover{
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.main__thirddiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-top: 100px;
    background-image: radial-gradient(rgb(165, 165, 165),rgb(100, 97, 97),black);
}

.main__thirddiv h2{
    font-size: 130px;
    color: rgba(245, 245, 245, 0.556);
    
}

.main__fourdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
}

.main__fourdiv__product__container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: var(--boxsh);
    background-color: lightgray;
}

.main__fourdiv__product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.main__fourdiv__details h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 50px;
}

.main__fourdiv__details p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    margin-top: 20px;
    font-size: 15px;
    
}

.buynow{
  
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
    box-shadow: var(--boxsh);

}

.divider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  
}

.buynow:hover{
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: var(--boxsh);
}

#price{
    font-size: 40px;
    font-weight: bolder;
}

.main__firstdiv__wrapertext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
   
    height: 70px; 
  

}

.main__pr{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    font-size: 20px;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: 4%;
    position: relatives ;
}


.main__contianerpicture{
   
    height: 400px;
}

























@media all and (min-width:360px) and (max-width:389px) {

    .main__thirddiv h2{
        font-size: 40px;
    }


    .main{
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(black,rgb(39, 36, 36),rgb(55, 45, 45));
        max-height: 9900vh;
        height: auto;
        font-family: var(--ff);
        width: auto;    
    }

    .main__firstdiv__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        box-shadow: var(--boxsh);
        overflow: hidden;
        border-radius: 31px;
        border-radius: 31px;
        background: #d0c2ca;
        box-shadow: inset -40px 40px 26px #8d8489,
                inset 40px -40px 26px #ffffff;
                max-width: 400px;
        width: 300px;
        height: auto;
        min-width: 100px;
        max-height: 100vh;
    }

    .main__firstdiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
        flex-wrap: wrap;
    }
}



@media all and (min-width:390px) and (max-width:413px) {

    .main__thirddiv h2{
        font-size: 40px;
    }


    .main{
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(black,rgb(39, 36, 36),rgb(55, 45, 45));
        max-height: 9900vh;
        height: auto;
        font-family: var(--ff);
        width: auto;    
    }

    .main__firstdiv__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        box-shadow: var(--boxsh);
        overflow: hidden;
        border-radius: 31px;
        border-radius: 31px;
        background: #d0c2ca;
        box-shadow: inset -40px 40px 26px #8d8489,
                inset 40px -40px 26px #ffffff;
                max-width: 400px;
        width: 300px;
        height: auto;
        min-width: 100px;
        max-height: 100vh;
    }

    .main__firstdiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
        flex-wrap: wrap;
    }











}






@media all and (min-width:412px) and (max-width:514px){



    .main__thirddiv h2{
        font-size: 40px;
    }   


    .main{
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(black,rgb(39, 36, 36),rgb(55, 45, 45));
        max-height: 9900vh;
        height: auto;
        font-family: var(--ff);
        width: auto;    
    }

    .main__firstdiv__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
        box-shadow: var(--boxsh);
        overflow: hidden;
        border-radius: 31px;
        border-radius: 31px;
        background: #d0c2ca;
        box-shadow: inset -40px 40px 26px #8d8489,
                inset 40px -40px 26px #ffffff;
                max-width: 400px;
        width: 300px;
        height: auto;
        min-width: 100px;
        max-height: 100vh;
    }

    .main__firstdiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
        flex-wrap: wrap;
    }

}