
:root{
    
    /* FONTSIZE */
    --fsS:15px;
    --fsM:25px;
    --fsL:35px;
    --fsXL:55px;

    /* FONTSTYLE */
    --ff:'Roboto', sans-serif;

    /* MARGIN */
    --mrS:10px;
    --mrM:20px;
    --mrL:30px;
    --mrXL:10px;

    /* PADDING */
    --pdS:15px;
    --pdM:15px;
    --pdL:15px;
    --pdXL:15px;

    /* BACKROUND COLOR */
    



    /* BOXSHADOW */
    --txtsh: 0px -1px 1px;
    --boxsh: 0px 0px 2px white;

}

a{
    text-decoration: none;
}

h3{
    color: black;
}
.main{
    max-height: 900vh;
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(black,rgb(39, 36, 36),rgb(55, 45, 45)); 

}

.main__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

.main__list table{

    margin-top:20px;
    width: 100%;
    max-height: 1500vh;
}

.main__list th{
background-color: lightgray;
height: 100px;
}

.main__list td{
   
background-color: whitesmoke;
 height: 100px;
}

h3{
    display: flex;
  
    justify-content: center;
    align-items: center;
}

.notice{
    font-size: 70px;
    margin-top: 120px;
    color: white;
}

.main__buynow{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.main__buynow h3{
background-color:green;
color: white;
width: 508px;
height: 50px;
margin-bottom: 15px;
font-size: 20px;
}

.main__trash{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.main__trash i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 20px;
    color: black;
    background-color: red;
    cursor: pointer; 
    border-radius: 10px;
}

.main__trash button{
    border: none;
}

.main__delteall{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.main__delteall button{
    font-size: 20px;
    border: black solid 2px;
    background-color: red;
    color: black;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.main__checkout{
    
    top: 0px;
    width: 100%;
    background-color: blue;
}





.paynow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
   margin-top: 20px;
   width: 100%;

}

.main__payment select{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.main__close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

.main__close h3{
    width: 200px;
    height: 40px;
    margin-right: 70px;
    background-color: green;
    color: white;
    border-radius: 15px;
}







