
body{
    height: 100vh;
}





.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-height: 900vh;
    height: auto;
    background-color: whitesmoke;
    margin-top: 30px;
}





.main__firstdiv__first__container{
    max-width: 900px;
    width: auto;
    max-height: 900px;
    height: auto;
    
}
.footer__firstdiv{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    width: 100%;   
    height: 20vh;
}